RewriteRule     ^/boxsets/?$    http://www.sky.com/shop/offers/entertainment-extra-plus?DCMP=dmc-SkyCOM:nc_boxsets      [L,R=301,NC]
RewriteRule     ^/moreboxsets/?$        http://www.sky.com/shop/tv/entertainment-extra-plus/boxsets?DCMP=dmc-SkyCOM:nc_moreboxsets      [L,R=301,NC]
RewriteRule     ^/goconnector/?$        https://my.sky.com/mysky/ondemand/?DCMP=dmc-skycom:ec_goconnector       [L,R=301,NC]
RewriteRule     ^/family/?$     http://www.sky.com/shop/offers/family?DCMP=dmc-SkyCOM:nc_family [L,R=301,NC]
RewriteRule     ^/getsky/?$     http://www.sky.com/shop/offers/switch-to-sky/?DCMP=dmc-skycom:na_offer_get_sky  [L,R=301,NC]
RewriteRule     ^/discovermore/?$       http://www.sky.com/shop/offers/switching-to-sky/?DCMP=dmc-skycom:na_offer_discover_more [L,R=301,NC]
RewriteRule     ^/sportsmoments/?$      http://www.sky.com/shop/customer-shop/customer-offers/?DCMP=dmc-ec-cug-febsports14      [L,R=301,NC]
RewriteRule     ^/gosport/?$    http://www.sky.com/products/ways-to-watch/sky-go/index.html/?DCMP=dms-ec-febsportgo14   [L,R=301,NC]
RewriteRule     ^/bundles/?$    http://www.sky.com/shop/?DCMP=dmc-skycom:na_bundles     [L,R=301,NC]
RewriteRule     ^/sportsbb/?$   www.sky.com/shop/offers/12mf-bbu/?DCMP=press-global-dyd [L,R=301,NC]
